body {
    background: #f5f3f3;
    background: #28262f;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.85) 100%), url('milky-way2.png') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

canvas {
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.background {
    display: block;
    margin: 0 auto;
}

#reset-report {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    background: #f55555;
    color: #fff;
    cursor: pointer;
    /* box-shadow: 0px 3px 5px #b3b3b3; */
    position: absolute;
}

table {
    width: 300px;
    text-align: center;
    position: absolute;
    right: 0px;
    margin-right: 50px;
    font-size: 13px;
    border-collapse: collapse;
    /* box-shadow: 0px 3px 5px #c5c5c5; */
    background: #fff;
}

tr {
    height: 40px;
}

thead>tr>td {
    padding: 0 5px;
}

thead>tr {
    background: #8c8c8c;
    color: #fff;
}

#cyclemarker-table {
    top: 100px;
}

.tippy-tooltip.tomato-theme {
    background: #5f5f5fcc;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.tomato-theme .tippy-arrow {
    border-top-color: #5f5f5fcc;
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.tomato-theme .tippy-arrow {
    border-bottom-color: #5f5f5fcc;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.tomato-theme .tippy-arrow {
    border-left-color: #5f5f5fcc;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.tomato-theme .tippy-arrow {
    border-right-color: #5f5f5fcc;
}

#earth {
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    left: calc(50vw - 150px);
    top: calc(50vh - 150px);
    z-index: -100
}