body {
    background: #f5f3f3;
    overflow: hidden;
}

.background {
    display: block;
    margin: 0 auto;
}

#reset-report {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    background: #f55555;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 5px #b3b3b3;
    position: absolute;
}

table {
    width: 250px;
    text-align: center;
    position: absolute;
    right: 0px;
    margin-right: 50px;
    font-size: 13px;
    border-collapse: collapse;
    box-shadow: 0px 3px 5px #c5c5c5;
    background: #fff;
}

tr {
    height: 40px;
}

thead > tr > td {
    padding: 0 5px;
}

thead > tr {
    background: #8c8c8c;
    color: #fff;
}

#cyclemarker-table {
    top: 100px;
}