<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./app-versions.css" />
        <script src="axios.min.js"></script>
        <script src="auth.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <title>App versions</title>
    </head>
    <body>
        <h1>App versions</h1>
        <p>App versions of all the nodes in the network</p>

        <div style="height: 80vw; width: 80vw; max-height: 400px; max-width: 400px">
            <canvas id="app-versions-chart"></canvas>
        </div>
        <div id="app-versions-info"></div>
        <div>
            <label for="node-type">Select Node Type:</label>
            <select id="node-type">
                <option value="all" selected>Total</option>
                <option value="joining">Joining Nodes</option>
                <option value="syncing">Syncing Nodes</option>
                <option value="active">Active Nodes</option>
            </select>
        </div>
        <script src="app-versions.js"></script>
    </body>
</html>
