<head>
    <title>Network Monitor</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="fabric.js"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
</head>

<body>
    <div id="app"></div>

    <canvas id="demoCanvas" width="1500" height="800"></canvas>
    <div class="link-container">
        <a target="_blank" href="/history-log?max_history=2880">Node History</a>
        <a target="_blank" href="/sync">Sync Timeline</a>
    </div>
    <script src="axios.min.js"></script>
    <script src="./popmotion.min.js"></script>
    <script src="auth.js"></script>
    <script src="app.js"></script>
    <script>
        const url = new URL(window.location.href)
        const server = url.searchParams.get('server') || window.location.href
        const fps = url.searchParams.get('fps') || 20
        // const monitorServerUrl = "http://13.48.45.51:3000/api"
        const monitorServerUrl = server.slice(-1) === '/' ? server + 'api' : server + '/api'
        console.log('monitorServerUrl', monitorServerUrl)
        console.log('window.location', window.location)
        NetworkMonitor({
            networkCircleRadius: 250,
            nodeRadius: 12,
            maxNodeCount: 250,
            fps,
            monitorServerUrl,
            environment: 'production'
            // environment: 'test',
        })
        console.log("testing")
    </script>
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
</body>

</html>
